<div class="slice title_body">

  <!--
    Stick the HTML that should be rendered when your slice is displayed here.

    You can refer to data stored on your slice by calling slice.foo inside
    a normal ERB code block.

  -->

  <div class="title"><%= markdown slice.title %></div>

  <div class="body"><%= markdown slice.body %></div>

</div>

